/**********************************/
/********** General CSS ***********/
/**********************************/

body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}